@layer theme, base, mui, components, utilities;
@import "tailwindcss";

@theme {
    --font-dmSans: var(--font-dm-sans);
    --font-montserrat: var(--font-montserrat);
    --color-primary: #002C15;
  }

